.Tile {
    width: 80rem;
    margin: 5rem auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.TileTitle {
    text-align: start;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}