@import 'mixins';
@import 'reset';
@import 'settings';
@import 'global';

* {
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

body {
  overflow-x: hidden;
  background-color: white;
  color: #333;
  text-align: center;
}
