@import '../../scss/settings.scss';

.AboutMe {
    margin-top: 35rem;
    display: flex;
    padding: 2rem;
    
    &-About {
        width: 50%;
        padding-right: 1rem;
        text-align: start;

        & > p {
            margin-bottom: 1rem;
        }
    }
    
    &-Basic {
        width: 50%;
        display: flex;
        padding-left: 1rem;
        flex-direction: column;

        &-Item {
            display: flex;
            margin: 0.25rem 0;

            &-Name {
                width: 30%;
                text-align: start;
                text-transform: uppercase;
                font-weight: bold;
            }

            &-Value {
                width: 70%;
                text-align: start;
            }
        }

        &-Item:nth-child(2) {
            margin-top: 0rem;
        }
    }
}

@media screen and (max-width: $breakpoint-one) {
    .AboutMe {
        &-Basic {
            &-Item {
                &-Name {
                    width: 50%;
                }
    
                &-Value {
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-two) {
    .AboutMe {
        flex-direction: column;

        &-About {
            width: 100%;
            padding-right: 0;
        }

        &-Basic {
            width: 100%;
            padding-left: 0;
            margin-top: 1.5rem;

            &-Item {
                &-Name {
                    width: 50%;
                }
    
                &-Value {
                    width: 50%;
                    word-wrap: break-word;
                }
            }
        }
    }
}