name: Build & Publish

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16.14.2
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
      # - name: Deploy to gh-pages
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     deploy_key: ${{ secrets.ACTIONS_DEPLOY_PRIVATE_KEY }}
      #     publish_dir: ./build
